.container {
  .main-toolbar {
    .spacer {
      flex: 1 1 auto;
    }
    .toolbar-btn {
      font-size: 16px;
      margin-right: 5px;
      cursor: pointer;
    }
  }

  .content {
    .logo {
      margin: 2.5rem;
      text-align: center;
      font-size: 24px;
      color: #c2185b;
      .mat-icon {
        height: 160px !important;
        width: 160px !important;
        font-size: 160px !important;
      }
    }

    .song {
      color: #000;
    }

    .song:hover {
      cursor: pointer;
    }

    .divider {
      background-color: #000;
    }
  }

  .media-footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    .song-name-container {
      color: #fff !important;
      justify-content: center;
      padding-top: 2.5rem;
    }

    .time-slider {
      width: 100% !important;
      margin-left: 20px;
      margin-right: 20px;
    }
    .media-action-bar {
      width: 100%;
      padding: 2.5rem;
      justify-content: center;
      .mat-icon {
        height: 44px !important;
        width: 44px !important;
        font-size: 44px !important;
      }

      .replay {
        color: orange;
      }
    }
  }
}

::ng-deep .mat-tab-label,
.mat-tab-link {
  color: #000 !important;
}

::ng-deep .mat-tab-group {
  max-height: 45vh !important;
  height: 45vh !important;
}
